# ~/.config/i3status/config

# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß - beta
# If the above line is not correctly displayed, fix your editor first!

general {
  colors = true
  interval = 5
}

# order += "ipv6"
order += "ethernet _first_"
order += "wireless _first_"
order += "load"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "cpu_temperature 1"
order += "cpu_temperature 2"
order += "cpu_temperature 3"
order += "memory"
order += "disk /"
order += "disk /home"
order += "volume master"
order += "tztime date"
order += "tztime time"

ethernet _first_ {
  # format_up = "E %ip %speed"
  format_up = "E %speed"
  format_down = "E down"
}

wireless _first_ {
  # format_up = "W%quality %essid %ip"
  format_up = "W%quality %essid"
  format_down = "W down"
}

load {
  format = "LOAD %1min"
  max_threshold = "4" # defaults to 5
}

cpu_usage {
  # format = "all: %usage CPU_0: %cpu0 CPU_1: %cpu1 ..."
  format = "CPU %usage"
  max_threshold = 50
  degraded_threshold = 25
}

cpu_temperature 0 {
  format = "%degrees°"
  max_threshold = 50
}

memory {
  format = "MEM %used/%total"
  format_degraded = "MEM %used/%total"
  threshold_critical = "3G" # red
  threshold_degraded = "4G" # yellow
  # if the available memory falls below the given threshold
}

disk "/" { format = "SSD %avail" }
disk "/home" { format = "SSD %avail" }

volume master {
  format = "♪ %volume"
  format_muted = "♪ %volume"
  device = "default"
  mixer = "Master"
  mixer_idx = 0
}

tztime date {
  format = "%time"
  format_time = "%d %b %Y"
}

tztime time {
  format = "%time"
  format_time = "%H:%M"
}
