#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"

# Shortcuts
alias g="git"
alias j="jobs"
alias h="history"
alias d="cd ~/dev"
alias dl="cd ~/Downloads"

# vim/nvim
alias vim="nvim"

# Week number
alias week='date +%V'

# Always use color output for `ls`
alias ls='ls --color=auto'

# List all files colorized in long format
alias l="ls -lF --color"

# List all files colorized with human readable file size
alias lh="ls -lhF --color"

# List all files colorized in long format, including dot files
alias la="ls -laF --color"

# List all files with human readable file size
alias lah="ls -lahF --color"

# List only directories
alias lsd="ls -lF --color | grep --color=never '^d'"

# Always enable colored `grep` output
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# IP address
alias rip="curl ifconfig.me"

# Sway WM Screenshot
alias screenshot='grim -t png -g "$(slurp)" ~/Screenshots/screenshot-$(date +%d-%m-%Y-%H-%M-%S).png'

# Battery status
alias battery="cat /sys/class/power_supply/BAT0/capacity /sys/class/power_supply/BAT1/capacity"
